* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}

html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #f8f8f8;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    /* background-color: aqua; */
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 13vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 1.8vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "monument"; */
    font-size: 45px;
    letter-spacing: -4px;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-weight: 400;
    font-size: 1.6vw;
    position: absolute;
    top: 20%;
    right: 10%;
    color: #303030;
}
#nav h1::before{
    content: "model management";
    font-weight: 400;
    font-size: 0.8vw;
    position: absolute;
    letter-spacing: 0vw;
    top: 73%;
    right: 15%;
    color: #303030;
}

#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 20px;
    font-weight: 550;
}
#nav h2:nth-last-child(1){
    width: 15%;
    padding-right: 70px;
    border-right: none;
}

#nav h2:nth-last-child(2){
    width: 30%;
}

#nav h2:nth-last-child(4){
    padding-left: 60px;
}

#centre{
    height: calc(100% - 13vh);
    width: 100%;
    /* background-color: red; */
    padding: 4vw 7vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 57%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.1vw;
    border-top: 1.5px solid rgba(255, 255, 255,0.9);

}

#over1 h1{
    font-family: monument;
    font-size: 3.4vw;
    font-weight: 500;

}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 2px solid #fff;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 400;
}

#over2 img{
    height: 4vw;
}

#nav2{
    background-color: #f8f8f8;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red;
    background-color: #f8f8f8; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

}
#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    background-color: #f8f8f8;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    /* display: none; */
    height: 100%;
    border-radius: 50%;
    width: 15%;
    margin: 0.9vw;
    object-fit: cover;
    object-position: 30% 20%;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
}
#alphabate{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 8vh;
}
#alphabate h5{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}
#alphabate h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 6px;
    /* border-bottom: 2px solid black; */
    padding: 0.5vw 0.3vw 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}
#alphabate h6:hover{
    border: 1px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 7vw;
    gap: 2vw;
    background-color: #f8f8f8;

}

#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(./model3333.avif);
    background-size: cover;
    background-position: center;
    position: relative;

}

#page2-part1 h1{
    position: absolute;
    bottom: -10%;
    text-transform: uppercase;
    font-weight: 800;
}

#page2-part2{
    height: 100%;
    width: 45%;
}

#page2-part2 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#part2-content{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    padding: 0.5vw 0;
}
#cnt1{
    width: 100%;
    height: 100%;
}

#cnt2{
    width: 100%;
    height: 100%;
}

#cnt1 h5{
    font-size: 1.5vw;
    font-weight: 550;
}

#cnt2 h6{
    font-size: 0.9vw;
    font-weight: 450;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: centre;
    justify-content: center;
    padding: 3vw 7vw 5vw 7vw;
    gap: 5vw;
}
#page3-part1{
    height: 100%;
    width: 45%;
    /* background-color: red; */
    /* gap: 20vw; */
}

#page3-part2{
    height: 100%;
    width: 55%;
    /* background-color: blue; */
    background-image: url(./model555.avif);
    background-size: cover;
    background-position: 50% 60%;
}

#page3-part1 img{
    height: 82%;
    width: 90%;
    object-fit: cover;
    object-position: 50% 80%;
    padding: 7vw 4vw 4vw 4vw;
}

#page3-part1 h5{
    height: 18%;
    width: 100%;
    /* padding: 1vw 0vw 0vw 4vw; */
    font-size: 1.8vw;
    font-weight: 450;
    margin-left: 3.5vw;
}
#page4{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 4vw 7vw 6vw 7vw;
}

#page4-image{
    height: 100%;
    width: 100%;
}
#page4-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 8%;
    /* background-color: red; */
}
#page4-cnt{
    position: absolute;
    top: 12%;
    right: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page4-cnt p{
    border-radius: 50%;
    border: 1px solid black;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 0.3vw 0.6vw 0.3vw 0.6vw;
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    padding: 5vw 7vw;
}

#page5>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 4vw;
}

.elem{
    height: 15.8vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem img{
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    width: 6%;
    margin-bottom: 2.5vw;
}

.elem .elem-part2{
    width: 50%;
}
.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 400;
}
.elem-part2 h5{
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 0.2vw;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:nth-last-child(1) img{
    left: 36%; 
}
.elem:nth-last-child(3) img{
    left: 36%; 
}
.elem:hover{
    background-color: #e6e6e6;
}
.elem:hover img{
    opacity: 1;
    left: 24%;
}

#page6{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 7vw;
}
#page6-left{
    height: 100%;
    width: 46%;
    /* background-color: blue; */
    background-image: url(./model23.avif);
    background-size: cover;
    background-position: top;
}
#page6-right{
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#page6-right-top{
    height: 48%;
    width: 100%;
    /* background-color: aquamarine; */
}

#page6-right-top h1{
    font-size: 2.8vw;
    font-weight: 800;
    text-transform: uppercase;
    font-family: monument;
    margin-bottom: 1.5vw;
}

#page6-right-top h5{
    font-size: 1.5vw;
    font-weight: 500;
    width: 59%;
    /* text-transform: uppercase; */
    /* font-family: monument; */
    margin-bottom: 1.5vw;
}

#page6-right-top p{
    font-size: 1vw;
    font-weight: 450;

}

#page6-right-bottom{
    height: 52%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page6-right-bottom-img1{
    height: 100%;
    width: 53%;
    /* background-color: orange; */
    background-image: url(./page6.avif);
    background-size: cover;
    background-position: center;
}
#page6-right-bottom-img2{
    height: 100%;
    width: 43%;
    /* background-color: rgb(129, 84, 1); */
    background-image: url(./page6-2.avif);
    background-size: cover;
    background-position: 90% 60%;
}

#page7{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4vw 7vw 6vw 7vw;
}

#page7-image{
    height: 100%;
    width: 100%;
}
#page7-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 25%;
    /* background-color: red; */
}
#page7-cnt{
    position: absolute;
    top: 12%;
    right: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page7-cnt p{
    border-radius: 50%;
    border: 1px solid black;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 0.3vw 0.6vw 0.3vw 0.6vw;
}

#page8{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 7vw;
    /* gap: 2vw; */
}

#page8-part1{
    height: 100%;
    width: 53%;
    background-image: url(./page8-1.png);
    background-size: cover;
    background-position: 0 10%;
}

#page8-part2{
    height: 100%;
    width: 43%;
}

#page8-part2 img{
    height: 72%;
    width: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

#part8-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cnt1{
    width: 40%;
    height: 100%;
}

#cnt2{
    width: 40%;
    height: 100%;
}

#cnt1 h5{
    font-size: 1.6vw;
    font-weight: 500;
}

#cnt2 h6{
    font-size: 0.9vw;
    font-weight: 450;
    margin-left: 1vw;
}

#page9{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding-top: 4vw;
}

#marque{
    height: 12%;
    width: 100%;
    /* background-color: red; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-text-stroke: 2px black ;
    color: transparent;
    letter-spacing: 3px;
    font-family: monument;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#page9-content{
    height: 88%;
    width: 100%;
    /* background-color: aqua; */
    padding: 4vw 7vw;
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 2vw;
}
#page9-content h5{
    font-size: 2.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-family: monument;
}
.page9-cntx{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vw;
}
.page9-cnt{
    height: 35%;
    /* background-color: red; */
    display: flex; 
}
.page9-cnt p{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 1.5vw;
    padding: 0 0.4vw;

}
.page9-cnt h6{
    font-size: 1.7vw;
    font-weight: 450;
    padding-top: 0.2vw;
    padding-left: 1vw;
}

#img-91{
    height: 65%;
    width: 100%;
    /* background-color: blue; */
    background-image: url(./model11.avif);
    background-size: cover;
    background-position: 0 25%;
}

#img-92{
    height: 65%;
    width: 100%;
    background-image: url(./model4.avif);
    background-size: cover;
    background-position: 0 25%;
}

#footer{
    height: 11vh;
    width: 100%;
    margin-bottom: 1.8vw;
    padding: 0.4vw;
    /* background-color: red; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline-block;
    text-align: center;
}  

#footer h2{
    font-size: 1.8vw;
    font-weight: 400;
}

#footer p{
    font-size: 1.2vw;
    font-weight: 400;
    margin-top: 0.4vw;
}

